# Node modules
node_modules/
**/node_modules/

# Build artifacts
dist/
build/
.next/
out/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/prisma/prisma/dev.db
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Project specific
backend/prisma/dev.db
backend/prisma/dev.db-journal
frontend/public/imageblog/
frontend/public/imageevent/
frontend/public/imagemember/
frontend/public/imageorgan/
